	*{
		padding:0px;
		margin:0px;
		overflow-x: hidden;
		font-family:Trebuchet MS;
	}

	html {
		scroll-behavior: smooth;
	}
	
	.full_banner{
		width:100%;
		height:100%;
		background-size:cover;
	}
	
	.black_curtain{
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.4);
		position:absolute;
		z-index:1;
	}
