	*{
		padding:0px;
		margin:0px;
		border:0px;
		overflow-x: hidden;
		font-family:Trebuchet MS;
	}
	
	/* Hide scrollbar for Chrome, Safari and Opera */
	html::-webkit-scrollbar {
	  display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	html {
	  -ms-overflow-style: none;  /* IE and Edge */
	  scrollbar-width: none;  /* Firefox */
	}
	
	td{
		height:400px;
		background-size:cover;
		background-color:black;
		background-position:center;
	}

	.vid_bg{
		position: absolute;
		width:60%;
	}
	
	
	
	
	